.content {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pacman {
	position: relative;
	width: 160px;
	height: 160px;

	&::before,
	&::after {
		content: "";
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		border: 80px solid $pacman;
		border-radius: 50%;
		border-right: 80px solid transparent;
		animation: pacman_1 linear $pacmanTime infinite;
	}

	&::after {
		animation: pacman_2 linear $pacmanTime infinite;
	}
}

.ball__item {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	background-color: $ball;
	animation: moove linear $mooveTime infinite;
}

.ball__item:nth-child(2) {
	animation-delay: $ballNext;
}

.ball__item:nth-child(3) {
	animation-delay: $ballNext * 2;
}

.ball__item:nth-child(4) {
	animation-delay: $ballNext * 3;
}

.ball__item:nth-child(5) {
	animation-delay: $ballNext * 4;
}

.ball__item:nth-child(6) {
	animation-delay: $ballNext * 5;
}

.ball__item:nth-child(7) {
	animation-delay: $ballNext * 6;
}

.ball__item:nth-child(8) {
	animation-delay: $ballNext * 7;
}
