html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}

a,
button {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
}

a:active,
button:active {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}

@-webkit-keyframes pacman_1 {
  0% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes pacman_1 {
  0% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@-webkit-keyframes pacman_2 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes pacman_2 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@-webkit-keyframes moove {
  0% {
    right: 0;
  }
  80% {
    opacity: 1;
  }
  83% {
    opacity: 0;
  }
  100% {
    right: 100%;
    opacity: 0;
  }
}

@keyframes moove {
  0% {
    right: 0;
  }
  80% {
    opacity: 1;
  }
  83% {
    opacity: 0;
  }
  100% {
    right: 100%;
    opacity: 0;
  }
}

.content {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pacman {
  position: relative;
  width: 160px;
  height: 160px;
}

.pacman::before, .pacman::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 80px solid yellow;
  border-radius: 50%;
  border-right: 80px solid transparent;
  -webkit-animation: pacman_1 linear 0.6s infinite;
          animation: pacman_1 linear 0.6s infinite;
}

.pacman::after {
  -webkit-animation: pacman_2 linear 0.6s infinite;
          animation: pacman_2 linear 0.6s infinite;
}

.ball__item {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: moove linear 3s infinite;
          animation: moove linear 3s infinite;
}

.ball__item:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.ball__item:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.ball__item:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.ball__item:nth-child(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.ball__item:nth-child(6) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.ball__item:nth-child(7) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.ball__item:nth-child(8) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #3f3f3f;
}

.container {
  max-width: 930px;
  padding: 0 15px;
  margin: 0 auto;
}
