$body: #558091;

$text-dark: #3f3f3f;
$text: #666;
$text-light: #dadada;

$brand-dark: #14bb94;
$brand-light: #bdf5e8;

$light-500: #eff0f1;
$light-100: #fafafa;
$light-0: #fff;

$border: #cdcdcd;
$border-shadow: #ededed;
$border-dark: #dcdcdc;

$hoverTime: 0.4s;
