//Burger
.burger {
	display: none;
	background-color: transparent;
	border: none;

	@include md {
		display: block;
		position: relative;
		top: 0;
		right: 0;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;

		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: #000;

			&:first-child {
				top: 0px;
			}

			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}

		&.active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}

	@include sm {
		top: -4px;
		right: 7px;
	}
}
