.description {
	padding: 95px 0 90px;
	background-color: $color-bc10;
	overflow: hidden;

	@include md {
		padding: 70px 0;
	}

	@include sm {
		padding: 50px 0;
	}

	// .description__title
	&__title {
		color: $color-4a9;
		margin: 0 0 86px 0;

		@include md {
			margin-bottom: 70px;
		}

		@include sm {
			margin-bottom: 50px;
		}
	}

	// .description__list
	&__list {
		display: flex;
		justify-content: space-between;

		@include md {
			flex-direction: column;
		}
	}
}

.stage {
	text-align: center;
	padding: 0 10px;
	transition: transform $doubleHoverTime linear, opacity $doubleHoverTime linear, visibility $doubleHoverTime linear;

	@include md-min {
		opacity: 0;
		visibility: hidden;
		transform: translate(0, 100%);

		&:first-child {
			transform: translate(-100%, 0);
		}

		&:last-child {
			transform: translate(100%, 0);
		}

		&._animate {
			transform: translate(0, 0);
			opacity: 1;
			visibility: visible;
		}
	}

	@include md {
		&:not(:last-child) {
			margin: 0 0 40px 0;
		}
	}

	// .stage__icon
	&__icon {
		width: 60px;
		height: 60px;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	// .stage__title
	&__title {
		font-weight: 500;
		font-size: 18px;
		margin-bottom: 15px;
	}

	// .stage__text
	&__text {
		line-height: 26px;
	}
}
