.head {
	position: relative;
	z-index: 1;
	box-shadow: 0 2px 15px 0 $color-bg10;

	&::before {
		content: "";
		position: absolute;
		z-index: 0;
		top: -100px;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to top, #ffffff 0%, #e2eff8 100%);
	}
	// .head__wrapper
	&__wrapper {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 0 20px;
		overflow: hidden;

		@include md-min {
			flex-direction: row;
			max-width: 1280px;
			max-height: 670px;
			height: 60vw;
			padding: 0;
			align-items: center;
		}
	}

	// .head__content
	&__content {
		position: relative;

		@include md-min {
			flex: 0 1 100%;
		}
	}

	// .head__body
	&__body {
		margin: 0 0 30px 0;
		@include md-min {
			max-width: 650px;
			min-width: 395px;
			width: 52vw;
			margin: 0 15px 0 0;
		}
	}

	// .head__title
	&__title {
		max-width: 370px;
		margin: 0 auto 20px;
		text-align: center;
		font-weight: 500;
		color: $color-260;
		font-size: calc(24px + (20 + 20 * 0.7) * ((100vw - 320px) / 1440));
		line-height: 30px;

		@include sm-min {
			max-width: 400px;
			line-height: 36px;
		}

		@include md-min {
			max-width: 100%;
			margin: 0;
			text-align: left;
			line-height: 50px;
		}

		@include xl-min {
			line-height: 70px;
			font-size: 50px;
		}
	}

	// .head__description
	&__description {
		display: block;
		margin: 0 0 30px 0;
		text-align: center;
		font-size: 20px;
		line-height: 26px;

		@include md-min {
			text-align: left;
			line-height: 30px;
			margin: 0 0 20px 0;
		}

		@include lg-min {
			margin: 0 0 70px 0;
		}
	}

	// .head__picture
	&__picture {
		@include md-min {
			position: absolute;
			top: 50%;
			right: 0;
			max-width: 40vw;
			transform: translate(0, -50%);
		}
	}
}

.app {
	text-align: center;

	// .app__list
	&__list {
		display: flex;
		flex-direction: column;

		@include sm-min {
			flex-direction: row;
			justify-content: space-between;
			max-width: 380px;
			margin: 0 auto;
		}

		@include md-min {
			margin: 0;
		}
	}

	// .app__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 20px;
		}

		@include sm-min {
			&:not(:last-child) {
				margin: 0;
			}
		}
	}

	// .app__link
	&__link {
		position: relative;
		top: 0;
		outline: none;
		transition: box-shadow $hoverTime linear, top $hoverTime linear;

		@include md-min {
			&:focus {
				box-shadow: 2px 20px 20px 5px $color-4a9;
			}

			&:hover {
				top: -3px;
			}
		}

		&:active {
			top: 0px;
		}
	}
}
