.head {
	position: relative;
	z-index: 1;
	box-shadow: 0 2px 15px 0 $color-bg10;

	&::before {
		content: "";
		position: absolute;
		z-index: 0;
		top: -100px;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to top, #ffffff 0%, #e2eff8 100%);
	}
	// .head__wrapper
	&__wrapper {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 0 20px;
		overflow: hidden;

		@include md-min {
			flex-direction: row;
			max-width: 1280px;
			max-height: 670px;
			height: 60vw;
			padding: 0;
			align-items: center;
		}
	}

	// .head__content
	&__content {
		position: relative;

		@include md-min {
			flex: 0 1 100%;
		}
	}

	// .head__body
	&__body {
		margin: 0 0 30px 0;
		padding: 0;
		color: $color-260;

		@include md-min {
			max-width: 650px;
			width: 55vw;
			padding: 0 0 25px 0;
			margin: 0 15px 0 0;
		}

		@include xl-min {
			width: 52vw;
		}
	}

	// .head__title
	&__title {
		max-width: 325px;
		margin: 0 auto 20px;
		text-align: center;
		font-weight: 500;
		font-size: calc(22px + (20 + 20 * 0.7) * ((100vw - 320px) / 1440));
		line-height: 30px;
		letter-spacing: 1.2px;

		@include sm-min {
			max-width: 424px;
			line-height: 36px;
		}

		@include md-min {
			max-width: 100%;
			margin: 0 0 15px 0;
			text-align: left;
			line-height: 50px;
			transform: translate(0, -20%);

			&._animate {
				transform: translate(0, 0);
			}
		}

		@include xl-min {
			line-height: 70px;
			font-size: 50px;
		}
	}

	// .head__description
	&__description {
		display: block;
		margin: 0 0 30px 0;
		text-align: center;
		font-size: 20px;
		line-height: 26px;

		@include md-min {
			text-align: left;
			line-height: 36px;
			margin: 0 0 20px 0;
		}

		@include lg-min {
			padding: 0 10px 0 0;
			margin: 0 0 60px 0;
		}
	}

	// .head__picture
	&__picture {
		@include md-min {
			position: absolute;
			top: 50%;
			right: 0;
			max-width: 40%;
			transform: translate(100%, -50%);

			&._animate {
				transform: translate(0, -50%);
			}
		}
	}

	.app {
		&__link {
			background-color: $color-4a9;
		}
	}
}
