.reviews {
	padding: 150px 0 70px;

	@include lg {
		padding: 100px 0 20px;
	}

	@include sm {
		padding: 50px 0 20px;
	}

	&__container {
		position: relative;
		padding: 0;

		&::before {
			content: "";
			position: absolute;
			z-index: 0;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 677px;
			height: 400px;
			background-color: $color-bc10;

			@include lg {
				display: none;
			}
		}

		&::after {
			content: "";
			position: absolute;
			z-index: 1;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 154px;
			height: 154px;
			background-image: url("../img/decor/points.png");
			@include bg-cover;
		}
	}

	// .reviews__title
	&__title {
		margin: 0 0 15px 0;

		@include lg {
			margin: 0 0 50px 0;
		}
	}
}

.slider-reviews {
	position: relative;
	max-width: 1195px;
	padding: 0 10px 10px 0;
	overflow: hidden;

	@include xl {
		max-width: 980px;
	}

	@include lg {
		max-width: 750px;
		margin: 0 auto;
	}

	@include md {
		padding: 0;
	}

	// .slider-reviews__wrapper
	&__wrapper {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		padding: 0 0 40px 0;

		@include sm {
			padding: 0;
		}
	}

	// .slider-reviews__button-box
	&__button-box {
		position: absolute;
		z-index: 4;
		right: 10px;
		bottom: 10px;
		max-width: 160px;
		width: 100%;
		min-height: 80px;
		border-radius: 4px;
		background-color: $color-fff;
		box-shadow: 0 4px 10px 0 $color-bg25;

		@include sm {
			display: none;
		}
	}

	// .slider-reviews__button
	&__button {
		position: absolute;
		z-index: 3;
		top: 0;
		width: 80px;
		height: 80px;
		background-color: $color-4a9;
		border: 1px solid transparent;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		cursor: pointer;
		outline: none;
		transition: border-color $hoverTime linear;

		&::before,
		&::after {
			content: "";
			position: absolute;
			z-index: 4;
			width: 6px;
			height: 28px;
			background-color: $color-fff;
			transition: background-color $hoverTime linear;
		}

		&::before {
			top: 17px;
			transform: rotate(45deg);
		}
		&::after {
			bottom: 17px;
			transform: rotate(-45deg);
		}

		&--prev {
			left: 0;
		}

		&--next {
			right: 0;
			transform: rotate(180deg);
		}

		@include md-min {
			&:focus {
				border-color: $color-0f0;
			}

			&:hover {
				&::before,
				&::after {
					background-color: $color-0f0;
				}
			}
		}

		&:active {
			top: 1px;
		}
	}

	.swiper-button-disabled {
		background-color: $color-fff;
		&::before,
		&::after {
			background-color: $color-4a9;
		}
	}
}

.slide {
	position: relative;
	z-index: 0;
	flex: 0 0 980px;
	margin: 0 0 0 200px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	@include xl {
		margin: 0;
		justify-content: center;
	}

	@include lg {
		flex: 0 0 750px;
		flex-direction: column;
		align-items: center;
	}

	@include md {
		flex: 0 0 100%;
	}

	// .slide-review__picture
	&__picture {
		flex: 0 0 400px;
		max-width: 400px;
		min-height: 520px;

		@include xl {
			margin-right: 50px;
		}

		@include lg {
			width: 100%;
			min-height: auto;
			height: 100%;
			margin: 0 0 50px 0;
			text-align: center;
			border-radius: 50%;
			background-color: $color-bc10;
		}

		@include sm {
			max-width: 280px;
			max-height: 280px;
		}
	}

	// .slide-review__img
	&__img {
		@include lg {
			border-radius: 50%;
			width: 400px;
			max-height: 400px;
			object-fit: cover;
		}

		@include sm {
			width: 280px;
			max-height: 280px;
		}
	}

	// .slide-review__description
	&__description {
		position: relative;
		max-width: 418px;
		padding: 90px 6px 117px;

		@include md {
			padding: 90px 6px 80px;
		}
		@include sm {
			padding: 90px 6px 0;
		}

		&::before {
			content: "";
			position: absolute;
			z-index: 3;
			top: 0;
			left: 0;
			width: 50px;
			height: 50px;
			background-image: url("../img/decor/quotes.png");
			@include bg-cover;
		}
	}

	// .slide-review__text
	&__text {
		line-height: 25px;
		color: $color-878;
		margin: 0 0 40px 0;
	}

	// .slide-review__signature
	&__signature {
		font-weight: 500;
		font-size: 18px;
		color: $color-0f0;
	}
}
