html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}

a,
button {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
}

a:active,
button:active {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}

.header,
.footer,
.moove {
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 40vh 0 60vh;
}

.header::before,
.footer::before,
.moove::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.header {
  background-image: url("../img/bg_3.jpg");
}

.moove {
  background-image: url("../img/bg_19.jpg");
}

.footer {
  background-image: url("../img/bg_12.jpg");
}

.title {
  position: relative;
  z-index: 5;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  text-transform: uppercase;
  font-size: 42px;
  letter-spacing: 0.2em;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

.title::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #00ffff;
  -webkit-box-shadow: 2px 2px 15px #00ffff;
          box-shadow: 2px 2px 15px #00ffff;
}

body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}
